<ng-container *ngIf="occupancyData">
  <echarts-historical></echarts-historical>
  <echarts-price></echarts-price>
  <!--*** Price Variation 
  <price-variation></price-variation>***-->
  <!--***** Data Grid *****-->
  <data-grid-occupancy [occupancyData]="occupancyData"></data-grid-occupancy>
  <!--***** Line Chart *****-->
  <line-chart-occupancy [occupancyData]="occupancyData"></line-chart-occupancy>
  <!--**** Download Data ****-->
  <export-data-grid></export-data-grid>
  <!--**** Plotly line *****-->
  <plotly-line></plotly-line>

  <date-picker ></date-picker>
</ng-container>
