<ng-container *ngIf="occupancyData">
  <!--***** Data Grid *****-->
  <data-grid-occupancy [occupancyData]="occupancyData"></data-grid-occupancy>
  <!--***** Line Chart *****-->
  <line-chart-occupancy [occupancyData]="occupancyData"></line-chart-occupancy>
  <!--**** Download Data ****-->
  <export-data-grid></export-data-grid>
  <!--**** Plotly line *****-->
  <plotly-line></plotly-line>
  <!--*** Price Variation ***-->
  <price-variation></price-variation>
  <!--*** Occupancy Forecast***-->
  <occupancy-forecast></occupancy-forecast>
</ng-container>
