<ng-container *ngIf="occupancyData">
  <date-picker ></date-picker>
  <echarts-infor></echarts-infor>
  <!-- <occupancy-issue></occupancy-issue> -->
  <echarts-lines></echarts-lines>
  <echarts-historical></echarts-historical>
  <echarts-price></echarts-price>
  <!--*** Price Variation 
  <price-variation></price-variation>***-->
  <!--***** Data Grid *****-->
  <!-- <data-grid-occupancy [occupancyData]="occupancyData"></data-grid-occupancy> -->
  <!--***** Line Chart *****-->
  <!-- <line-chart-occupancy [occupancyData]="occupancyData"></line-chart-occupancy> -->
  <!--**** Download Data ****-->
  <!-- <export-data-grid></export-data-grid> -->
  <!--**** Plotly line *****-->
  <!-- <plotly-line></plotly-line> -->
</ng-container>
