<div *ngIf="!displayChart" class="p-grid no-data-section w-calc-full-height hideChart">
</div>
<!--********* Echarts Line Chart Starts ************-->
<div *ngIf="displayChart" echarts #echarts [initOpts]="initOpts" [options]="chartInitOption" [merge]=mergeOption
    class="demo-chart" (chartDataZoom)="onChartEvent($event, 'chartDataZoom')"></div>
<!--********* Echarts Line Chart Ends ************-->

<div *ngIf="chartDataGloabal && chartDataGloabal.showStaticLegend">
    <div class="chartHelp-content">
        <div *ngFor="let chartDataLine of chartData" class="chartHelp-item">
            <div *ngIf="chartDataLine.showInStaticLegend">
                <svg soho-icon icon="filter-is-not-empty" [ngStyle]="{ 'fill' : chartDataLine.color }"></svg>
                <label>
                    {{ chartDataLine.key | translate:locale.language }}
                </label>
            </div>
        </div>
    </div>
</div>


<div class="legendButton" *ngIf="currentPath!=='/decision' && chartDataGloabal && chartDataGloabal.showLegend">
    <button soho-button="tertiary" icon="line-bar-chart" keepOpen="true" soho-popdown (click)="onOpenLegend()"
        #chartLegend></button>
    <soho-popdown-contents id="legendButtonCharts">
        <div soho-widget class="legend-widget">
            <div soho-widget-content class="legend-content">
                <div *ngFor="let chartDataLine of chartData">
                    <div class="legend-item" *ngIf="chartDataLine.showInLegend"
                        (click)="showChartDataLegend(chartDataLine)">
                        <svg soho-icon icon="empty-circle" [ngStyle]="{ 'color' : chartDataLine.color }"
                            *ngIf="chartDataLine.disabled"></svg>
                        <svg soho-icon icon="filter-is-not-empty" [ngStyle]="{ 'color' : chartDataLine.color }"
                            *ngIf="!chartDataLine.disabled"></svg>
                        <label>
                            {{ chartDataLine.key | translate:locale.language }}
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </soho-popdown-contents>
</div>
<div [ngClass]="{ 'over': isChartLegendOpen }" (click)="onCloseLegend()"></div>